.App {
  width: 90%;
  min-height: 90vh;
  position: relative;
  overflow: hidden;
  display: flex;
}

.background {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(img/background.jpg) no-repeat center;
  filter: grayscale(100);
  z-index: -2;
}
